/* 主体 */
/* #region */
body {
  background-color: #FFDFD380;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #endregion */

/* 头部 */
/* #region */
.header {
  height: 100px;
  background-color: #E0BBE420;
  box-shadow: 0 0 10px #0f0f0f;
}

.header .container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:1000px) {
  .header .container {
    width: 100%;
  }
}

.header .container .homeandmy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.header .logo {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  width: 50px;
  opacity: 0.8;
  user-select: none;
  -webkit-user-drag: none;
}

.header .logo span {
  color: #0f0f0f;
  font-family: "LiDeBiao-Xing33a019b091d25682";
  font-size: 40px;
  margin-left: 5px;
  user-select: none;
}

.header .home {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}

.header .home:hover img {
  width: 45px;
}

.header .home img {
  width: 40px;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-drag: none;
}

.header .my {
  width: 60px;
  height: 60px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .my:hover img {
  width: 45px;
}

.header .my img {
  width: 40px;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-drag: none;
}

/* #endregion */

/* 主要层 */
/* #region */
.floor_1 .container {
  background-color: #E0BBE420;
  box-shadow: 0 0 15px #0f0f0f;
  border-radius: 15px;
  height: 600px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width:1000px) {
  .floor_1 .container {
    width: 400px;
    flex-direction: column;
  }
}

.floor_1 .container .show {
  height: 80%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width:1000px) {
  .floor_1 .container .show {
    width: 80%;
    height: 60%;
  }
}

.floor_1 .container .show img {
  height: 80%;
  user-select: none;
  -webkit-user-drag: none;
  transition: all 0.2s;
  border-radius: 150px;
  box-shadow: 0 0 15px #0f0f0f;
}

.floor_1 .container .button {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.floor_1 .container .button img {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  transition: all 0.2s;
}

.floor_1 .container .button:hover img {
  width: 105%;
}

.floor_2 .container {
  background-color: #E0BBE420;
  box-shadow: 0 0 15px #0f0f0f;
  border-radius: 15px;
  height: 600px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width:1000px) {
  .floor_2 .container {
    width: 400px;
  }
}

.floor_2 .container .left-img {
  height: 30%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor_2 .container .left-img img {
  height: 100%;
  width: 100%;
}

.floor_2 .container .right-select {
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floor_2 .container .right-select .main-select {
  font-size: 32px;
}


.floor_2 .container .right-select .top-select-vip {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.floor_2 .container .right-select .top-select-vip input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.floor_2 .container .right-select .bottom-buy-button {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floor_2 .container .right-select .bottom-buy-button input {
  font-size: 30px;
  background-color: transparent;
  box-shadow: 0 0 5px #0f0f0f;
  border-radius: 15px;
  cursor: pointer;
}

/* #endregion */

/* 弹窗层 */
/* #region */
/* 遮罩层 */
#overlay {
  position: fixed;
  /* left: 0px;
  top: 0px; */
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

/* 弹出框主体 */
.popup {
  background-color: #FFDFD3;
  width: 50%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 15px #0f0f0f;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  user-select: none;
}

@media screen and (max-width:1000px) {
  .popup {
    width: 80%;
  }

  #overlay {
    font-size: 18px;
  }
}

/* 弹出框的标题 */
.popup_title {
  height: 10%;
  border-bottom: solid 5px #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* 弹出框的内容 */
.popup_content {
  height: 70%;
  line-height: 50px;
  margin: 0 5%;
}

@media screen and (max-width:1000px) {
  .popup_content {
    line-height: 25px;
  }
}

/* 弹出框的按钮栏 */
.popup_btn {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* 弹出框的按钮 */
.popup_btn button {
  width: 20%;
  height: 40px;
  cursor: pointer;
  border: solid 1px #cccccc;
  border-radius: 15px;
  box-shadow: 0 0 5px #0f0f0f;
  color: #0f0f0f;
  background-color: #cccccc;
}

.popup_btn .item2 .mobile-span-on {
  display: none;
}

@media screen and (max-width: 1000px) {
  .popup_btn .item2 .mobile-span-off {
    display: none;
  }

  .popup_btn .item2 .mobile-span-on {
    display: inline;
  }
}

.popup_btn .select {
  cursor: pointer;
}

/* #endregion */

/* 底部 */
/* #region */
.foot {
  height: 35px;
  background-color: #E0BBE420;
  box-shadow: 0 0 5px #0f0f0f;
}

.foot .container {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width:1000px) {
  .foot .container {
    width: 100%;
  }
}

.foot .container span {
  display: block;
  color: #0f0f0f;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
}

.foot .container span:hover {
  color: #AEADAD;
}

/* #endregion */