body {
  background-color: #FFDFD3;
  height: 100%;
  overflow: hidden;
}

.header {
  height: 100px;
  background-color: #E0BBE420;
  box-shadow: 0 0 10px #0f0f0f;
}

.header .container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .homeandmy {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.header .logo {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .logo img {
  width: 50px;
  opacity: 0.8;
  user-select: none;
  -webkit-user-drag: none;
}

.header .logo span {
  color: #0f0f0f;
  font-family: "LiDeBiao-Xing33a019b091d25682";
  font-size: 40px;
  margin-left: 5px;
  user-select: none;
}

.header .home {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.5;
}

.header .home:hover img {
  width: 45px;
}

.header .home img {
  width: 40px;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-drag: none;
}

.header .my {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .my:hover img {
  width: 45px;
}

.header .my img {
  width: 40px;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-drag: none;
}

.floor_1 .container {
  margin-top: 60px;
  margin-bottom: 70px;
  background-color: #E0BBE420;
  box-shadow: 0 0 15px #0f0f0f;
  border-radius: 15px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.floor_1 .container .show {
  left: 80px;
  top: 80px;
  width: 800px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.floor_1 .container .show img {
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
  transition: all 0.2s;
}

.floor_1 .container .button {
  left: 980px;
  top: 300px;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.floor_1 .container .button img {
  width: 100%;
  user-select: none;
  -webkit-user-drag: none;
  transition: all 0.2s;
}

.floor_1 .container .button:hover img {
  width: 105%;
}

.foot {
  margin-bottom: 0px;
  height: 35px;
  background-color: #E0BBE420;
  box-shadow: 0 0 5px #0f0f0f;
}

.foot .container {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot .container span {
  display: block;
  color: #0f0f0f;
  cursor: pointer;
  transition: all 0.2s;
}

.foot .container span:hover {
  color: #f0f0f0;
}