body {
    background-color: #FFDFD380;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 100px;
    background-color: #E0BBE420;
    box-shadow: 0 0 10px #0f0f0f;
}

.header .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .container .homeandmy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.header .logo {
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo img {
    width: 50px;
    opacity: 0.8;
    user-select: none;
    -webkit-user-drag: none;
}

.header .logo span {
    color: #0f0f0f;
    font-family: "LiDeBiao-Xing33a019b091d25682";
    font-size: 40px;
    margin-left: 5px;
    user-select: none;
}

.header .home {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.5;
}

.header .home:hover img {
    width: 45px;
}

.header .home img {
    width: 40px;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-drag: none;
}

.header .my {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .my:hover img {
    width: 45px;
}

.header .my img {
    width: 40px;
    transition: all 0.2s;
    user-select: none;
    -webkit-user-drag: none;
}

.floor_1 .container {
    background-color: #E0BBE420;
    box-shadow: 0 0 15px #0f0f0f;
    border-radius: 15px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.floor_1 .container .title {
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.floor_1 .container .title h2 {
    display: block;
    font-size: 40px;
    user-select: none;
    color: #888787;
    transition: all 0.5s;
}

.floor_1 .container .title .login:hover {
    cursor: pointer;
    font-size: 45px;
}

.floor_1 .container .title .register:hover {
    cursor: pointer;
    font-size: 45px;
}

.floor_1 .container .title .select-login-register {
    color: #0f0f0f;
}

.floor_1 .container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.floor_1 .container .showdown {
    display: none;
}

.floor_1 .container input {
    height: 50px;
    width: 400px;
    font-size: 30px;
    background-color: #ffffff60;
    border-radius: 15px;
    box-shadow: 0 0 5px #0f0f0f;
    transition: all 0.5s;
    color: #0f0f0f;
    text-indent: 15px;
}

.floor_1 .container input:focus {
    box-shadow: 0 0 15px #0f0f0f;
}

.floor_1 .container .submit {
    cursor: pointer;
}

.floor_1 .container .submit:hover {
    box-shadow: 0 0 15px #0f0f0f;
}

.foot {
    height: 35px;
    background-color: #E0BBE420;
    box-shadow: 0 0 5px #0f0f0f;
}

.foot .container {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot .container span {
    display: block;
    color: #0f0f0f;
    cursor: pointer;
    transition: all 0.2s;
    user-select: none;
}

.foot .container span:hover {
    color: #AEADAD;
}